easyocr==1.6.2
eventlet==0.33.3
fiftyone==0.22.0
fqdn==1.5.1
google-cloud-storage==2.10.0
isoduration==20.11.0
jsonpointer==2.3
jupyter==1.0.0
jupyterlab-widgets==3.0.7
loguru==0.7.0
omegaconf==2.3.0
open-clip-torch==2.18.0
opencv-python==4.7.0.72
pip-chill==1.0.3
pyexiftool==0.5.5
umap-learn==0.5.3
uri-template==1.2.0
webcolors==1.13
numpy
scikit-learn
plotly
tqdm
pandas
scipy
omegaconf
loguru